<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit chats</title>
</head>
<body>
    <p>edit your chats <%=chat._id %></p>
    <p>this chat was sent form <%=chat.from %> to <%=chat.to %></p>

    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="message" id="" cols="10" rows="5"><%=chat.message %></textarea>
        <button>edit</button>
    </form>
</body>
</html>